env
.idea
*.pyc
*.apk
*.log
android/payload
android/assets
android/assets-app
android/gen
android/out
android/jni/libevent
android/jni/*.tar.gz
android/jni/openssl
android/jni/redsocks
android/obj
android/lib
linux/etc
